<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

</head>
<body>
    <header>
        <h1>Contact Page</h1>
    </header>

    <main>
        <div class="contact-container">
            <form action="submit_contact_form.php" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email-id">Email-ID:</label>
                <input type="email-id" id="email-id" name="email-id" required>

                <button type="submit">Submit</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2023 Your Website Name</p>
    </footer>
</body>
</html>
